{% extends 'base.html' %}
{% block content %}
    <h2>{{ page_title }}</h2>
    <p>
    Queen's College, Cork, was founded by the provisions of an act which enabled Queen Victoria to endow new colleges for the "Advancement of Learning in Ireland". 
    Under the powers of this act, the three colleges of Belfast, Cork and Galway were incorporated on 30 December 1845. The college opened in 1849 with 23 professors and 181 students; Medicine, Arts, and Law were the three founding faculties.
     A year later the college became part of the Queen's University of Ireland.
The original site chosen for the college was considered appropriate as it was believed to have had a connection with the patron saint of Cork, Saint Finbarr. 
His monastery and school of learning were close by at Gill Abbey Rock and the mill attached to the monastery is thought to have stood on the bank of the south channel of the River Lee, which runs through the College lower grounds. 
This association is also reflected in the College motto "Where Finbarr Taught, Let Munster Learn" which is also the university motto.
Adjacent to Gillabbey and overlooking the valley of the river Lee, the site was selected in 1846.[10] The Tudor Gothic quadrangle and early campus buildings were designed and built by Sir Thomas Deane (1792-1871) and Benjamin Woodward (1816-1861).
 Queen's College Cork officially opened its doors in 1849, with further buildings added later, including the Medical/Windle Building in the 1860s.[11]
    </p>
{% endblock %}