{% extends "base.html" %}
{% block content %}
   <form  class="create_course" method="POST" action="{{ url_for('create_course')}}" id="create_course" name="create_course" text-align="center">
      <!-- Name these the same as the database attributes they correspond to. -->
    <ul>
    <li>
       <label for="" class="text-info">  Course Name <input type="text" name="course_name"></label><br>
       </li>
       <li>
        <label for="" class="text-info"> Course Number <input type="text" name="course_number"></label><br>
        </li>
        <li>
        <label for="" class="text-info"> Course Description <input type="text" name="course_description"></label><br>
        </li>
        <li>
        <label for="" class="text-info"> Course Mark <input type="text" name="course_mark"> </label><br>
        </li>
        <input class="text-info" type="submit" value="Create Course"><br>
        </ul>
        
    </form>
    {% endblock %}


