{% extends "base.html" %}
{% block content %}

   <form  class="create_course" method="POST" action="{{ url_for('create_course')}}" id="create_course" name="create_course">
      <!-- Name these the same as the database attributes they correspond to. -->
        <input type="text" name="course_name">
        <input type="text" name="course_number">
        <input type="text" name="course_description">
        <input type="text" name="course_mark">
        <input type="submit" value="Create Course">
    </form>
    {% endblock %}


