{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align light-blue-text text-darken-4">
                {{ username }}'s profile
                </h3>
            </div>
        </div>
    </div>



<div id="accordion">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          Actuarial & Financial Studies
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        BAFS (Hons) (NFQ Level 8)

Full Time - Undergraduate Studies

CAO Code: DN230
CAO Points Range 2019: 577
Length of Course: 4 Years
Average Intake: 45
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Archaeology, Geography & History
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
      BSc(Hons) (NFQ Level 8)

Undergraduate Full Time

CAO Code: DN700
CAO Points Range 2019: 388
Length of Course: 4 Years
Average Intake: 500
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Biology, Mathematics & Education
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
      BSc (Hons) (NFQ Level 8) & MSc (NFQ Level 9)

Full Time - Undergraduate Studies

CAO Code: DN200
CAO Points Range 2019: 521-625
Length of Course: 5 Years (BSc 4 years & MSc 1 year)
Average Intake: 400
      </div>
    </div>
  </div>
</div>

{% endblock %}